
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(227, 195, 153);
}

nav {
    background-color:rgb(53, 47, 47);
    color: #fff;
    padding: 30px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo {
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 75px); /* Adjust for navbar height */
}

.huge-button {
    background-color:cadetblue;
    color: #fff;
    border: none;
    padding: 40px 80px;
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.huge-button i {
    margin-right: 10px;
    font-size: 28px;
}

.huge-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #007bff;
}

.footer-section p, .footer-section ul, .footer-section a {
    font-size: 16px;
    color: #ddd;
    text-decoration: none;
}
